.venv/
.vscode/
.DS_Store
.env
.claude/
*.egg-info/
__pycache__/
python-venv
venv/
app/__pycache__/
app/*.pyc
app/.venv/
benchmark/.tpch/.venv/
benchmark/.tpch/__pycache__/
benchmark/.tpch/data/sf1/*.*
benchmark/.tpch/answers/*.*
benchmark/data/*.*
benchmark/queries/*
benchmark/results/*
benchmark/answers/*
reports/*
