AGENTS.md
.*/
*.egg-info
__pycache__/
app/.pytest_cache/
app/.venv/
benchmark/.tpch/.venv/
benchmark/.tpch/data/*
benchmark/.tpch/answers/*
benchmark/queries/*
benchmark/results/*
benchmark/answers/*
